# .github/workflows/templates/terraform/terraform-ci-template.yaml

name: Terraform CI Template (GitHub Provider)

# This field allows this workflow to be used as a reusable workflow.
on:
  workflow_call:
    inputs:
      terraform-directory:
        description: 'Directory containing the Terraform configuration files'
        required: true
        type: string
        default: '.'
      environment:
        description: 'The environment to use (e.g., dev, prod)'
        required: false
        default: 'dev'
        type: string
      dry-run:
        description: 'Enable or disable dry-run mode'
        required: false
        default: false
        type: boolean
      sonar-project-key:
        description: 'SonarQube or SonarCloud project key to use for the analysis'
        required: false
        type: string
      sonar-organization:
        description: 'Name of the SonarCloud organization'
        required: false
        type: string
      sonar-token:
        description: 'SonarCloud authentication token'
        required: false
        type: string
      infracost-api-key:
        description: 'API key for Infracost to estimate costs'
        required: false
        type: string
      oci-region:
        type: string
        required: false
        default: 'eu-paris-1'
      aws-s3-endpoint-url:
        type: string
        required: false
        default: ''
      aws-s3-bucket-name:
        type: string
        required: false
        default: ''
      aws-s3-region:
        type: string
        required: false
        default: 'eu-west-1'

jobs:
  setup-terraform:
    name: Setup Terraform Environment
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: dev
      
    # Utilisation de l'environnement pour récupérer les secrets de github actions
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      # Setup Terraform CLI
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # Configure GitHub Credentials
      - name: Version terraform
        run: |
          terraform --version

      # Cache Terraform plugins to speed up the workflow
      - name: Cache Terraform plugins
        uses: actions/cache@v5.0.1
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-${{ hashFiles('**/*.tf') }}
          restore-keys: |
            terraform-plugin-

      # Run terraform fmt to format code and check for discrepancies
      - name: Run Terraform FMT
        run: |
          cd ${{ inputs.terraform-directory }}
          terraform fmt -recursive -check -diff

      # Initialize Terraform in the specified directory
      - name: Terraform Init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_ENDPOINT_URL: ${{ inputs.aws-s3-endpoint-url }}
          AWS_S3_BUCKET_NAME: ${{ inputs.aws-s3-bucket-name }}
        run: |
          cd ${{ inputs.terraform-directory }}
          terraform init -input=false
      #                      -backend-config="key=env/${{ inputs.environment }}/terraform.tfstate"

      # Run terraform validate to ensure the configuration is syntactically valid
      - name: Run Terraform Validate
        run: |
          cd ${{ inputs.terraform-directory }}
          terraform validate

      # Run terraform tests for verifying module functionality
      - name: Run Terraform Tests
        run: |
          cd ${{ inputs.terraform-directory }}
          terraform test

      - name: Setup Infracost
        if: ${{ inputs.infracost-api-key }} != ''
        run: |
          curl -s https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | bash

      # Run Infracost to estimate infrastructure costs
      - name: Run Infracost
        if: env.INFRACOST_API_KEY != ''
        env:
          INFRACOST_API_KEY: ${{ inputs.infracost-api-key }}
        run: |
          infracost breakdown --format json --out-file infracost.json
          cat infracost.json

      # Run SonarQube Scan
      - name: SonarCloud Scan
        if: env.SONAR_TOKEN != ''
        uses: sonarsource/sonarcloud-github-action@v5.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN || '' }}

      # Run terraform plan to generate an execution plan
      - name: Terraform Plan
        env:
          TF_VAR_oci_provider_private_key: ${{ secrets.OCI_PROVIDER_PRIVATE_KEY }}
          TF_VAR_oci_provider_tenancy_ocid: ${{ secrets.OCI_PROVIDER_TENANCY_OCID }}
          TF_VAR_oci_provider_user_ocid: ${{ secrets.OCI_PROVIDER_USER_OCID }}
          TF_VAR_oci_provider_fingerprint: ${{ secrets.OCI_PROVIDER_FINGERPRINT }}
          TF_VAR_oci_compartment_id: ${{ secrets.OCI_COMPARTMENT_ID }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_oci_region: ${{ inputs.oci-region }}
          AWS_S3_ENDPOINT_URL: ${{ inputs.aws-s3-endpoint-url }}
          AWS_S3_BUCKET_NAME: ${{ inputs.aws-s3-bucket-name }}
          AWS_REGION: ${{ inputs.aws-s3-region }}

        run: |
          cd ${{ inputs.terraform-directory }}
          terraform plan \
            -var-file="terraform.${{ inputs.environment }}.tfvars" \
            -state="env/${{ inputs.environment }}/terraform.tfstate" \
            -out=terraform.tfplan

      # Upload the Terraform plan as an artifact
      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v6.0.0
        with:
          name: terraform-tfplan
          path: ${{ inputs.terraform-directory }}/terraform.tfplan
            

  approval:
    # Environment approval step before applying changes on main branch
    name: Approval for Apply on Main Branch
    runs-on: ubuntu-latest
    needs: setup-terraform
    if: github.ref == 'refs/heads/main'

    # Add environment and permissions for the approval step
    environment:
      name: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Approval step
        run: echo "Waiting for approval to proceed with Terraform apply."

  apply:
    name: Apply Terraform Changes
    runs-on: ubuntu-latest
    needs: [approval]
    if: github.ref != 'refs/heads/main' || (github.ref == 'refs/heads/main' && github.event.review.state == 'approved')

    steps:
    # Download the Terraform plan from the previous step
      - name: Download Terraform Plan
        uses: actions/download-artifact@v7.0.0
        with:
          name: terraform-tfplan
          
      # Apply the Terraform changes if approved on main or directly on other branches
      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -state="env/${{ inputs.environment }}/terraform.tfstate" $terraform_file_plan_name